PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/guide_site
# Secret used to sign JWT tokens
SESSION_SECRET=JWT
# Secret used to input into the signup form in frontend
ADMIN_SECRET=admin
# Frontend URL for CORS origin
FRONTEND_URL=http://localhost:5173
